<section>
  <div class="gallery-sections">
    <div class="item">
      <a href="#">
        <div class="img">
          <img src="assets/images/placeholder.svg" alt="">
        </div>
        <div class="title">Кухни</div>
      </a>
    </div>
    <div class="item">
      <a href="#">
        <div class="img">
          <img src="assets/images/placeholder.svg" alt="">
        </div>
        <div class="title">Гостиная</div>
      </a>
    </div>
    <div class="item">
      <a href="#">
        <div class="img">
          <img src="assets/images/placeholder.svg" alt="">
        </div>
        <div class="title">Спальня</div>
      </a>
    </div>
    <div class="item">
      <a href="#">
        <div class="img">
          <img src="assets/images/placeholder.svg" alt="">
        </div>
        <div class="title">Шкафы</div>
      </a>
    </div>
    <div class="item">
      <a href="#">
        <div class="img">
          <img src="assets/images/placeholder.svg" alt="">
        </div>
        <div class="title">Детская</div>
      </a>
    </div>
  </div>
</section>
