@import "src/theme.scss";

.menu-opener{
  position: relative;
  width: 42px;
  height: 42px;
  background: transparent;
  border: none;
  display: block;

  span, &:before, &:after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 26px;
    height: 2px;
    background: $accent-color;
    margin-top: -1px;
    margin-left: -13px;

    transition: all, .5s;
  }

  &:before {
    top: 30.333%;
  }
  &:after{
    top: 69.666%;
  }

  &.is-open{
    &:before {
      top: 50%;
      transform: rotate(45deg);
    }
    &:after{
      top: 50%;
      transform: rotate(-45deg);
    }
    span{
      opacity: 0;
    }
  }
}

.m-menu{
  position: fixed;
  top: 0;
  right: 100%;
  z-index: 10;
  width: $side-width;
  height: 100vh;
  padding-top: .75rem;
  background: $accent-color;

  ul{

  }
  a{
    display: block;
    padding: 1rem 2rem;
    font-size: $accent-text-size;
    color: #fff;
  }
}
