<section>
  <div class="container">
    <h1>Head 1</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, modi!</p>
    <h2>Head 2</h2>
    <h3>Head 3</h3>
    <h4>Head 4</h4>
    <h5>Head 5</h5>
    <h6>Head 6</h6>
    <ul>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, non!</li>
      <li>Accusamus, consectetur error facilis natus reiciendis suscipit. Dolorem, molestiae unde?</li>
      <li>A accusamus error, et expedita praesentium saepe sequi tenetur voluptate.</li>
      <li>Deserunt, est, magni? Ad delectus deserunt dignissimos distinctio quaerat quibusdam.</li>
      <li>Aspernatur beatae dolore dolorum enim incidunt iure magni reprehenderit, rerum?</li>
    </ul>
    <ol>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Accusantium et reiciendis repellendus similique?</li>
      <li>Beatae explicabo numquam quo veritatis.</li>
      <li>At distinctio eos illum totam.</li>
      <li>Dicta similique voluptate voluptatem voluptates!</li>
    </ol>
    <table>
      <tr>
        <th>Lorem ipsum.</th>
        <th>Dicta, esse.</th>
      </tr>
      <tr>
        <td>Lorem ipsum.</td>
        <td>Distinctio, quas.</td>
      </tr>
      <tr>
        <td>Lorem ipsum.</td>
        <td>Suscipit, voluptate.</td>
      </tr>
      <tr>
        <td>Lorem ipsum.</td>
        <td>Explicabo, facere!</td>
      </tr>
      <tr>
        <td>Lorem ipsum.</td>
        <td>Deleniti, totam.</td>
      </tr>
      <tr>
        <td>Lorem ipsum.</td>
        <td>Iusto, qui?</td>
      </tr>
    </table>
  </div>
</section>