<header>
  <div class="container">
    <div class="header-wrapper">
      <button class="menu-opener">
        <span></span>
      </button>
      <div class="logo">
        <img src="/assets/images/logo.svg" alt="">
      </div>
      <div class="contacts">
        <div class="address">г.Новокуйбышевск, пр.Победы 22А, офис 5</div>
        <div class="phone"><a href="tel:+79170110199">+7 (917) 011-01-99</a></div>
        <div class="mail"><a href="mailto:Idea2002@mail.ru">Idea2002@mail.ru</a></div>
      </div>
    </div>
  </div>
</header>

<main class="content">

</main>

<footer>
  <div class="container">
    <div class="footer-wrapper">
      <div class="logo"></div>
      <ul class="f-menu">
        <li>О компании</li>
        <li>Материалы</li>
        <li>Комплектующие</li>
        <li>Галерея</li>
        <li>Условия, акции</li>
        <li>Контакты</li>
        <li>Карта сайта</li>
      </ul>
      <ul class="contacts">
        <li><i></i> <a href="mailto:idea2002@mail.ru">idea2002@mail.ru</a></li>
        <li><i></i> <a href="#">г.Новокуйбышевск, пр.Победы 22А, офис 5</a></li>
        <li><i></i> <a href="tel:+79170110199">+7 (917) 011-01-99</a></li>
      </ul>
    </div>
  </div>
</footer>
