.container{
  max-width: 1100px;
  margin: 0 auto;
}

.logo{
  display: flex;
  align-items: center;

  img{
    max-width: 100%;
    width: 180px;
    display: block;
  }
}

header{
  background-color: rgba(0,0,0,.2);
  padding: 1rem;
  background: #4eb3ff;
  background: linear-gradient(to bottom,rgba(0,0,0,.4) 0,rgba(0,0,0,.1) 100%);

  .header-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
  }

  .contacts{
    & > div{
      display: none;

      &.phone{
        display: block;

        a{
          display: block;
          width: 42px;
          height: 42px;
          overflow: hidden;
          text-indent: -9999px;
        }
      }
    }
  }

  .menu-opener{
    position: relative;
    width: 42px;
    height: 42px;
    background: transparent;
    border: none;

    span, &:before, &:after{
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 26px;
      height: 2px;
      background: #000;
      margin-top: -1px;
      margin-left: -13px;
    }

    &:before {
      top: 30.333%;
    }
    &:after{
      top: 69.666%;
    }
  }
}
