<header>
  <div class="container">
    <div class="header-wrapper">
      <app-mobile-menu></app-mobile-menu>
      <div class="logo">
        <a href="/">
          <img src="/assets/images/logo.svg" alt="">
        </a>
      </div>
      <div class="contacts">
        <div class="address">г.Новокуйбышевск, пр.Победы 22А, офис 5</div>
        <div class="phone"><a href="tel:+79170110199">+7 (917) 011-01-99</a></div>
        <div class="mail"><a href="mailto:Idea2002@mail.ru">Idea2002@mail.ru</a></div>
      </div>
    </div>
  </div>
</header>

<main class="content">
  <app-gallery-sections></app-gallery-sections>
<!--  <app-markups-page></app-markups-page>-->
</main>

<footer>
  <app-to-top-btn></app-to-top-btn>

  <div class="container">
    <div class="footer-wrapper">
      <div class="logo">
        <a href="/">
          <img src="/assets/images/logo.svg" alt="">
        </a>
      </div>
      <div class="f-menu">
        <ul>
          <li>О компании</li>
          <li>Материалы</li>
          <li>Комплектующие</li>
          <li>Галерея</li>
        </ul>
        <ul>
          <li>Условия, акции</li>
          <li>Контакты</li>
          <li>Карта сайта</li>
        </ul>
      </div>
      <ul class="contacts">
        <li>
          <a href="mailto:idea2002@mail.ru">
            <i class="icon-letter"></i> idea2002@mail.ru
          </a>
        </li>
        <li>
          <a href="#">
            <i class="icon-point"></i> г.Новокуйбышевск, пр.Победы 22А, офис 5
          </a>
        </li>
        <li>
          <a href="tel:+79170110199">
            <i class="icon-phone"></i> +7 (917) 011-01-99
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>