@import "src/mixins.scss";
@import "src/theme.scss";

.logo{
  display: flex;
  align-items: center;

  img{
    max-width: 100%;
    width: 180px;
    display: block;
  }
}

header{
  padding: 1rem;
  background: #fff;
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;

  .header-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
  }

  .contacts{
    & > div{
      display: none;

      &.phone{
        display: block;

        a{
          display: block;
          width: 42px;
          height: 42px;
          overflow: hidden;
          font-size: 0;
          text-align: center;

          &:before{
            @include iconFont();
            content: "\e900";
            font-size: 1rem;
            line-height: 42px;
            padding: 8px;
            background: $accent-transparent-bg-color;
            border-radius: 100%;
          }
        }
      }
    }
  }
}

main.content{
  padding-top: 72px;
}

footer{
  border-top: $gray-border;
  margin-top: 1rem;
  padding: 1rem;
  line-height: 1.4rem;

  .logo{
    justify-content: center;
  }
  .f-menu{
    margin-top: 1rem;
    display: flex;

    ul{
      width: 50%;
      padding-right: 1rem;
    }
  }

  .contacts{
    margin-top: 1rem;

    li{
      line-height: 1em;

      &+li{
        margin-top: .5rem;
      }
    }
    a{
      padding-left: 2rem;
      position: relative;
      display: block;

      i{
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -12.5px;
        background: $accent-transparent-bg-color;
        padding: 5px;
        border-radius: 100%;
      }
    }
  }
}
